:root {
    --glass-bg-color: rgba(255, 255, 255, 0.15);
    --glass-border-color: rgba(255, 255, 255, 0.2);
    --glass-box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.15);
    --glass-bg-color-hover: rgba(40, 40, 40, 0.8);
    --glass-border-color-hover: rgba(60, 60, 60, 0.4);
}

:root.dark-mode {
    --glass-bg-color: rgba(30, 30, 30, 0.7);
    --glass-border-color: rgba(50, 50, 50, 0.3);
    --glass-box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.3);
    --glass-bg-color-hover: rgba(40, 40, 40, 0.8);
    --glass-border-color-hover: rgba(60, 60, 60, 0.4);
}

/* 玻璃效果 */
.glass {
    background-color: var(--glass-bg-color) ;
    border: 1px solid var(--glass-border-color);
    box-shadow: var(--glass-box-shadow);
    border-radius: 12px;
    padding: 10px;
    transition: all 0.3s ease ;
    cursor: pointer;
    user-select: none;
}
.glass:hover {
    background-color: var(--glass-bg-color);
    border: 1px solid var(--glass-border-color);
    box-shadow: var(--glass-box-shadow);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}
