/* 基础样式 */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    background-image: url('../img/bg.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.card {
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    --webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.1);
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 20px;
}

#container-left {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

#info-container {
    width: 50%;
    height: 30%;
}

.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 10px;
}

#social-links{
    width: 50%;
    height: 5px;
    align-items: center;
    align-self: auto;
}

#motto{
    width: 50%;
    height: 10%;
    align-items: center;
}

#motto span{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: aquamarine;
}

#links{
    display: flex;
    width: 50%;
    justify-content: center;
    margin: 10px;
}

#container-right {
    display: flex;
    width: 50%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.container-sub {
    flex-wrap: wrap; /* 允许换行 */
    height: auto;
}

.container-sub .item {
    flex: 1 1 calc(33.33% - 10px); /* 每个项目占 1/3 宽度，留出间隙 */
    margin: 5px; /* 项目间距 */
    height: 50px; /* 项目高度（可根据需求调整） */
    box-sizing: border-box;
    display: flex; /* 添加 flex 布局 */
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
    transition: all 0.3s ease;
    cursor: pointer;
}

.container-sub .item:hover {
    transform: scale(1.05);
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
}

.container-sub .item span {
    text-align: center;
    text-align: center;
    display: block; /* 确保 span 为块级元素 */
    width: 100%; /* 占满容器宽度 */
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    font-weight: bold;
}

/* 页脚 */
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
